:root{
      --amarillo :  #eeff00;
      --verde_bajo : #3ffd00e2;
      --verde_fuerte : #109710ea;
      --azul_fer : #4fc3f7;
      --azul_fer_fuerte: rgb(30, 78, 222);
    }
    /* Estilo general de la scrollbar */
  ::-webkit-scrollbar {
    width: 15px;              /* Ancho de la barra */
  }

/* Parte del fondo (track) */
  ::-webkit-scrollbar-track {
  background-image: url("https://i.pinimg.com/1200x/e9/90/4c/e9904cdb30314092a60f1ec18711bbbf.jpg");
  }

/* Parte que se mueve (thumb) */
  ::-webkit-scrollbar-thumb {
    background-image: url("https://i.pinimg.com/474x/0f/fa/e3/0ffae3941d35c380d3ce2eeff7ea6b8b.jpg"); /* Color del scroll */
    border: 10px;       /* Bordes cuadrados */
    border: 3px solid #000000; /* Borde para separación */
  }

/* Opcional: cuando pasas el mouse encima */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;;
  }

    body::selection{
      color: green;
      background-color: black;
    }
    html, body {
        font-family: 'Pixelify Sans', 'Sour Gummy';
    }
